.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.preto {
  color: black;
}

.vermelho {
  color: red;
}

.verde {
  color: green;
}
